.contact-page {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;

  .contact-me {
    padding: 20px;
    border: 1px solid black;
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 40%;
      border-radius: 50%;
    }

    .contact-info {
      font-size: 1.3em;
      font-weight: bolder;
      h2 {
        font-weight: bold;
        text-transform: uppercase;
        span {
          border-left: 3px solid grey;
          border-radius: 4%;
          color: grey;
          padding-left: 5px;

          @media (max-width: 567px) {
            display: block;
            border: none;
            font-size: 1rem;
          }
        }
      }
      a {
        padding-left: 20px;
        &:hover {
          color: #3b5998;
        }
      }
    }
  }

  @media (max-width: 567px) {
    margin-top: 10%;
    width: 80vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
    .contact-me {
      width: 100%;
      height: 100%;
      padding: 5px;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      img {
        width: 80%;
        border-radius: 50%;
      }

      .contact-info {
        font-size: 1em;
      }
    }
  }
}
